<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="acstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="navinfo">
                <div class="home">
                    <i class="fa fa-home"></i>&nbsp;<a href="/exolore indian island/home/home.html">Home</a>&nbsp; 
                </div>
                <div class="Contact">
                    <i class="fa fa-photo r1"></i>&nbsp;&nbsp;<a href="/Munroe.html">Main</a>&nbsp;
                </div>
                <div class="help">
                    <i class="fa fa-plane r1"></i>&nbsp;&nbsp;<a href="#">Plan a trip</a>
                </div>
            </div>
            <div class="logo">
                <img src="/Images/logo.png"alt="">
            </div>    
        </div>
        <h1>Explore the cuisine of Munroe Island</h1>
    <div class="mbody">
            <section class="card-container">
                <!-- -->
                <div class="card" onclick="toggleDetails('card1-details')">
                    <img src="/Images/cuisine1.webp" alt="Idiyappam With Curry">
                    <h3>Idiyappam With Curry</h3>
                    <p>One of the famous dishes of Kerala is Idiyappam which is relished by most of the people. Also known as Noolappam in Kerala cuisine, Idiyappam, food of Kerala, is made of rice flour, salt and water with a number of thin strands or sevai entwined together to make the lovely texture that this dish bears. It is this texture that makes it versatile. You can have it with all kinds of curries, but it tastes best with Egg Curry.</p>
                    <div class="details" id="card1-details">
                        <p>
                            <b>Pronounced as:</b> E-di-ap-pam<br>
                            <b>Best places to eat:</b> Saravana Bhavan, Jasmine Bay<br>
                            <b>Average price:</b> INR 80
                        </p>
                    </div>
                </div>
                <div class="card" onclick="toggleDetails('card2-details')">
                    <img src="/Images/cuisine2.webp" alt="Erissery (Pumpkin And Lentil Stew)">
                    <h3>Erissery (Pumpkin And Lentil Stew)</h3>
                    <p>Erissery is one of the famous dishes of Kerala which is savoured by travellers as well as local people in Kerala. A hit in every kitchen of Kerala, this curry is made from either raw plantains or sliced yams. It is typically prepared by boiling slightly sweet pumpkins with salt, chillies or pepper, dried lentils, grated coconut, turmeric powder, cumin seeds and garlic, and is served on a bed of rice once cooked.</p>
                    <div class="details" id="card2-details">
                        <p>
                           <b> Pronounced as:</b> Er-u-siri <br>
                            <b>Best places to eat:</b> Kashi, Mezban<br>
                            <b>Average price:</b> INR 400
                        </p>
                    </div>
                </div>
                <div class="card" onclick="toggleDetails('card3-details')">
                    <img src="/Images/cuisine3.webp" alt="Puttu And Kadala Curry">
                    <h3>Puttu And Kadala Curry</h3>
                    <p>Puttu and Kandala curry is enjoyed by people of Kerala which is considered to be one of the popular traditional Kerala dishes. A famous breakfast recipe out of the many Kerala dishes, Puttu is a cylindrical steamed rice cake that is cooked in a mould with grated coconut. It can be served with ripe bananas, grated coconut, and kadala curry (the Keralite version of ‘Kala Chana’! Don’t be fooled by the simple appearance of this dish; Puttu can be very flavoursome!</p>
                    <div class="details" id="card3-details">
                        <p>
                            <b>Pronounced as:</b> Put-tu and Ka-da-lai<br>
                            <b>Best places to eat:</b> Saravana Bhavan, Mezban<br>
                            <b>Average price:</b> INR 70
                        </p>
                    </div>
                </div>
                <div class="card" onclick="toggleDetails('card4-details')">
                    <img src="/Images/cuisine4.webp" alt="Appam With Ishtu (Stew)">
                    <h3>Appam With Ishtu (Stew)</h3>
                    <p>Appam with stew, one of the traditional Kerala dishes is flavoursome and yummy. A famous food of Kerala, made from fermented rice flour, coconut milk, coconut water, and a teensy bit of sugar, Appam is essentially a thin pancake with crispy edges. These crepe-like bowls are best enjoyed with Ishtu, a kind of stew that has been originally derived from the European stew and is made from coconut milk, cinnamon, cloves and shallots, and sometimes also mango pieces and vegetables. </p>
                    <div class="details" id="card4-details">
                        <p>
                            <b>Pronounced as:</b> Ap-pam with I-sh-tew<br>
                            <b>Best places to eat:</b> Villa Maya, Varsha, Ariya Nivaas<br>
                            <b>Average price:</b> INR 175<br>
                            <b>Tip:</b> Though it is originally a vegetarian dish, one can also have it with chicken or lamb.
                        </p>
                    </div>
                </div>
                <div class="card" onclick="toggleDetails('card5-details')">
                    <img src="/Images/cuisine5.webp" alt=" Ela Sadya">
                    <h3> Ela Sadya</h3>
                    <p>Ela Sadya is one of the finest meals which is incorporated in traditional Kerala dishes whose aroma will water your mouth. Ela Sadya is the king of all Kerala food items! With more options than you’d ever have seen on your platter, Sadya is prepared and served during religious and ceremonial occasions like festivals, weddings, and more. This royal lunch combination of dishes like pachadi, kichadi, pulissery, olan, sambar, varavu, thoran, aviyal, payasam, served with hot steaming rice on a banana leaf can give the enormous thali of Chokhi Dhani a run for its money any day!</p>
                    <div class="details" id="card5-details">
                        <p>
                            <b>Pronounced as:</b>  E-la S-a-dh-ya<br>
                            <b>Best places to eat:</b> Hotel Bharath, Chakara<br>
                            <b>Average price:</b> INR 500
                        </p>
                    </div>
                </div>
                <div class="card" onclick="toggleDetails('card6-details')">
                    <img src="/Images/cuisine6.webp" alt="Idli Sambar">
                    <h3>Idli Sambar</h3>
                    <p>How about relishing some South Indian cuisine in Kerala? Idli Sambhar is one of the best foods in Kerala which is good to go for breakfast and the best healthy food in Kerala as well. Perhaps the most famous food of Kerala, idli sambar are fondly eaten in not just all households in Kerala, but everywhere else in India! The perfect combination of fermented rice cakes and a deliciously tangy curry of aromatic spices and vegetables like lentils. Apart from being a favourite of foodies for its taste, idli sambar is also universally accepted for the health benefits it bears.</p>
                    <div class="details" id="card6-details">
                        <p>
                            <b>Pronounced as:</b> Id-lee S-aa-m-b-aa-r<br>
                            <b>Best places to eat:</b> Aditi Restaurant, Ginger House<br>
                            <b>Average price:</b> INR 65<br>
                            <b>Tip:</b>  Have it with coconut chutney for a flavourful experience!
                        </p>
                    </div>
                </div>
                
            </section>
        <script>
    //         document.addEventListener('DOMContentLoaded', () => {
    //     console.log("Welcome to Explore South Korea!");
    // });
    // script.js

    function toggleDetails(detailsId) {
        const details = document.getElementById(detailsId);
        if (details.style.display === "block") {
            details.style.display = "none";
        } else {
            details.style.display = "block";
        }
    }
        </script>
</div>
    <div class="division1">
        <div class="About">
            <div class="aboutus">
                <h1>About Us</h1>
                <p>
                    Welcome to <strong>Discover Islands of India</strong>, your ultimate guide to exploring the stunning islands of India!
                    From the turquoise waters of the Andaman and Nicobar Islands to the serene backwaters of Lakshadweep, India boasts a variety of beautiful islands. 
                    <span class="dots">...</span>
                    <span class="more-content">
                        rich in natural beauty, culture, and adventure. Our team is passionate about showcasing the diversity and beauty of India's islands, offering insights on the best places to visit, stay, and experience. Whether you’re a solo traveler, a couple on a romantic getaway, or a family seeking adventure, our guides are designed to help you plan an unforgettable trip. Join us as we explore the breathtaking islands of India and embark on a journey like no other!
                    </span>
                </p>
                <span class="see-more-btn" onclick="toggleContent()">See More</span>

        
                <script>
                    function toggleContent() {
                        var moreText = document.querySelector(".more-content");
                        var dots = document.querySelector(".dots");
                        var btnText = document.querySelector(".see-more-btn");
            
                        if (moreText.style.display === "none") {
                            moreText.style.display = "inline";
                            dots.style.display = "none";
                            btnText.innerHTML = "See Less";
                        } else {
                            moreText.style.display = "none";
                            dots.style.display = "inline";
                            btnText.innerHTML = "See More";
                        }
                    }
                </script>
                <table>
                    <thead>
                        <h1>Contact</h1>
                    </thead>
                    <tr>
                        <td>
                            E-mail:
                        </td>
                        <td>
                            rudraprataptiwari786@gmail.com
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
        <div class="help">
            <h1>Help lines:</h1>
            <table> 
                <tbody>
                    <tr>
                        <td><i class="fa fa-car r1"></i> Police:</td>
                        <td>100</td>
                    </tr><tr>
                        <td><i class="fa fa-fire r1"></i> Fire station:</td>
                        <td>101</td>
                    </tr><tr>
                        <td><i class="fa fa-ambulance r1"></i> Ambulance:</td>
                        <td>03192 232102</td>
                    </tr><tr>
                        <td><i class="fa fa-heart r1"></i> Blood Bank:</td>
                        <td>03192 230628</td>
                    </tr><tr>
                        <td><i class="fa fa-cloud r1"></i> Disaster:</td>
                        <td>1070/03192 238881100</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="weather-container">
            <h1>Weather Forecast</h1>
            <div id="weather" class="weather-info">
                <h2>Loading...</h2>
            </div>
        </div>
        <script>
            // OpenWeatherMap API details
            const apiKey = 'c853dba97b5216c8692ad467f81ee57c';
            const city = 'Kerala';  // Capital city of Andaman & Nicobar
            const apiUrl = //https;api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric;
        
            // Fetch weather data
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    const weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = `
                        <h2>Weather in ${data.name}</h2>
                        <p><strong>Temperature:</strong> ${data.main.temp}°C</p>
                        <p><strong>Weather:</strong> ${data.weather[0].description}</p>
                        <p><strong>Humidity:</strong> ${data.main.humidity}%</p>
                        <p><strong>Wind Speed:</strong> ${data.wind.speed} m/s</p>
                    `;
                })
                .catch(error => {
                    document.getElementById('weather').innerHTML = '<h2>Error fetching weather data.</h2>';
                    console.error('Error fetching weather data:', error);
                });
        </script>
</body>
</html>